*{
    box-sizing: border-box;
}
body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    margin: 0;
}
body p {
    color: hsl(201, 11%, 66%);
    line-height: 1.7;
}
body h1,h2,h3 {
    color: hsl(210, 10%, 33%);
}
body h2 {
    font-size: 37px;
    margin: 0;
}
@media(max-width: 767px) {
    body h2 {
        font-size: 25px;
    } 
    body p {
        font-size: 15px;
    }
}
.container {
    padding-left: 15px ;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
header {
    text-align: center;
    width: 100%;
    padding: 120px 0 40px;
    background-image: url(../images/bg-header-desktop.png);
}
header img{
    margin-top: 10px;
}
@media(max-width: 767px) {
    header {
        text-align: center;
        background-image: url(../images/bg-header-mobile.png);
        padding: 70px 0 20px;
    }
    header img{
        width: 100px;
    }
}
/* Start Component */
.main-heading {
    text-align: center;
    margin: 150px 0 60px;
}
.main-heading p{
    padding: 0 250px 50px;
}
@media(max-width: 767px) {
    .main-heading p{
        padding:0 ;
        margin-bottom: 50px;
    }
}
/* End Component */
.container .intro-text h1 {
    font-size: 50px;
    margin:10px 0;
}
.container .intro-text p{
    padding: 0px 150px;
    margin: 0 0 10px;
}
@media(max-width: 767px) {
    .container .intro-text h1 {
        font-size: 25px;
    }
    .container .intro-text p{
        padding: 0;
    }
}
.download button {
    padding: 20px 65px;
    border-radius: 100px;
    border: none;
    color: white;
}
.download {
    margin-bottom: 130px;
    margin-top: 50px;
}
.download .ios {
    background-color: hsl(171, 66%, 44%);
}
@media(max-width: 767px) {
    .download .ios {
        margin-bottom: 10px;
    }
}
.download .mac {
    background-color: hsl(233, 100%, 69%);
}
article .text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 40px;
}
@media(max-width: 767px) {
    article .text {
        flex-direction: column;
        text-align: center;
    }
}
article .text img{
    width: 45%;
    margin-left: -30px;
    
}
@media(max-width: 767px) {
    article .text img{
        width: 80%;
        margin: 0 auto 20px;
    }
}
.text .info {
    width: 45%;
}
.text .info p{
    width: 70%;
    margin-bottom: 30px;
}
@media(max-width: 767px) {
    .text .info {
        width: 100%;
    }
    .text .info p{
        text-align: center;
        width: 100%;
        padding: 0 10px;
    }
}
.devices {
    padding-top: 20px;
    margin-bottom: 0;
}
.devices .main-heading {
    margin-bottom: 42px;
}
.container img {
width: 80%;
}
@media(max-width: 767px) {
.container img {
    width: 85%;
    margin-top: 0;
}
}
.features .main-heading {
    margin-top: 70px;
    margin-bottom: 30px;
}
.features-row {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    margin-bottom: 150px;
    margin-top: 40px;
}
.features .feature img {
    width: 40px;
    height: 35px;
}
@media(max-width: 767px) {
    .features-row {
        margin-bottom: 30px;
    }
    .features .feature {
        margin-bottom: 50px;
    }
    .features .feature img {
        width: 80px;
        height: 60px;
    }
}
.logos {
    display: flex; 
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 50px;
}
.logos img {
    width: 85%;
}
@media(max-width: 767px) {
    .logos {
        flex-direction: column;
        text-align: center;
    }
    .logos img{
        width: 200px;
        padding: 30px;
    }
}
.container .last-heading  {
    margin: 160px 0 0;
}
.container .last-heading  p{
    padding: 0 220px;
}
@media(max-width: 767px) {
    .container .last-heading p{
        padding: 0 5px;
    }
}
.container .last-download {
    margin-bottom: 150px;
}
footer {
    background-color: rgba(200, 201, 202, 0.356);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
}
footer .logo img{
    width: 40px;
}
footer .contact {
    display: flex;
    justify-content: space-between;
}
footer .contact span{
    display: block;
    padding: 10px;
    color: hsl(202, 11%, 66%);
}
footer .social-media{
    display: flex;
    align-items: center;
}
footer .social-media img{
    width: 15px;
    margin-left: 15px;
}
@media(max-width: 767px) {
    footer {
        flex-direction: column;
        text-align: center;
        padding: 30px 0;
    } 
    footer .logo img{
        margin-bottom: 20px;
    }
    footer .contact {
        flex-direction: column;
    }
    footer .social-media{
        width: 50%;
        justify-content: space-between;
        padding: 20px;
    }
    footer .social-media img{
        margin-left: 0;
    }
}
